<%- include("header",{type:'acceptfriends'}) %>

	<div class="container">
		<ul class="posts">
			<div>
				<label>他们都在等待您同意好友请求哦</label> 
			</div>
			<% posts.forEach(function(res){ %>
				<li>
					<div class="friendname">
						<span title="<%= res.name %>"><a href="/moments?author=<%= res.name %> ">待加好友名：<%= res.name %></a></span>
					</div>
					<div class="content markdown">
						<%- res.greeting %>
					</div>
                    <span class="cmt_name">
						<a class="delete_comment" href="javascript:accept_request(<%= res['rid'] %>);"> 通过</a>
                        <a class="delete_comment" href="javascript:delete_request(<%= res['rid'] %>);"> 删除</a>
				    </span>
				</li>
			<% }) %>
		</ul>
		<div style="margin-top: 30px" class="pagination" id="page"></div>	
	</div>

	<div class="container">
		<form class="form create" method="post">
			<div>
				<label>您可以在这里发送好友请求～</label> 
			</div>
			<div>
				<label>好友用户名：</label> 
				<input placeholder="请输入好友用户名" type="text" name="friendname">
			</div>
			<div>
				<label>招呼：</label> 
				<input placeholder="打一个招呼吧" type="text" name="greeting">
			</div>
			<div class="submit">发送好友请求</div>
		</form>
	</div>


    <script>
		$(window).keyup(function (e) {
			//console.log(e.keyCode)
			if (e.keyCode == 13) {
				$('.submit').click()
			}
		})
		$('.submit').click(()=>{
			// console.log($('.form').serialize())
			$.ajax({
				url: "/acceptfriends/submit",
				data: {
					friendname: $('input[name=friendname]').val(),
					greeting: $('input[name=greeting]').val()
				},
				type: "POST",
				cache: false,
				dataType: 'json',
				success: function (msg) {
                    if (msg.data == 1) {
                        fade('请求已成功发送')
                        setTimeout(()=>{
                            window.location.href="/moments"	  
                        },1000)
                    }
                    else if (msg.data == 2) {
                        $('input').val('')
                        fade('好友用户名不存在')
                    }
                    else if (msg.data == 3) {
                        $('input').val('')
                        fade('你们已发送过请求，请查看待处理请求确认，或耐心等待对方同意～') 
                        setTimeout(()=>{
                            window.location.href="/moments"	  
                        },1000)
                    }
                    else if (msg.data == 4) {
                        $('input').val('')
					   fade('你们已经是好友了！') 
                    }
				},
				error: function () {
					alert('异常');
				}
			})			
		})		
        
        // 删除好友请求
		function delete_request(id, isaccept) {
			$.ajax({
				url: "/acceptfriends/" + id + "/remove",
                data: {
                    rid: id
                },
				type: 'POST',
				cache: false,
                dataType: 'json',
				success: function (msg) {
					if (msg.data == 1) {
						fade('删除请求成功')
						setTimeout(() => {
							window.location.reload()
						}, 1000)
					} else if (msg.data == 2) {
						fade('删除请求失败');
						setTimeout(() => {
							window.location.reload()
						}, 1500)
					}
				},
				error: function () {
					alert('删除请求异常')
				}
			})
		}
        
        // 通过好友请求
		function accept_request(id) {
			$.ajax({
				url: "/acceptfriends/" + id + "/accept",
                data: {
                    rid: id
                },
				type: 'POST',
				cache: false,
				success: function (msg) {
					if (msg.data == 1) {
						fade('通过请求成功')
						setTimeout(() => {
							window.location.reload()
						}, 1000)
					} else if (msg.data == 2) {
						fade('通过请求失败');
						setTimeout(() => {
							window.location.reload()
						}, 1500)
					}
				},
				error: function () {
					alert('通过请求异常')
				}
			})
		}
        
	</script>
<% include footer %>