<%- include("header",{type:''}) %>
	<div class="container">
		<ul class="moments smoment">
			<li>
				<div class="author">
					<span title="<%= moment_name %>"><a href="/moments?author=<%= moment_name %> ">author: <%= moment_name %></a></span>
				</div>
				<div class="comment_pv">
					<span><%= moment_content %></span>
				</div>
				<a href="/moments/<%= id %>">
					<div class="content markdown">
						<%- moment_content %>
					</div>
				</a>
				<div class="edit">
					<% if(session && session.user ===  moment_name  ){ %>
					<p><a href="<%= moments['id'] %>/edit">编辑</a></p>
					<p><a class="delete_moment">删除</a></p>
					<% } %>
				</div>
			</li>
		</ul>
	</div>
	<div class="comment_wrap">

		<% if(session.user){ %>
		<form class="form" method="moment" action="/<%= id %>">
			<textarea id="spContent" name="content" cols="82"></textarea>
			<div class="submit">发表留言</div>
		</form>
		<% } else{ %>
			<p class="tips">登录之后才可以评论哟</p>
		<% } %>
		<% if (1 < 0) { %>
		<div class="comment_list markdown">
			<% pageOne.forEach(function(res){ %>
				<div class="cmt_lists">
					<div class="cmt_content">
						<div class="userMsg">
							<img src="../images/<%= res['avator'] %>" alt="avator"><span><%= res['name'] %></span>
						</div>
						<div class="cmt_detail">
							<%- res['content'] %>
						</div>
						<span class="cmt_time"><%= res['moment'] %></span>
						<span class="cmt_name">
							<% if(session && session.user ===  res['name']){ %>
								<a class="delete_comment" href="javascript:delete_comment(<%= res['id'] %>);"> 删除</a>
							<% } %>
						</span>
					</div>
				</div>
			<% }) %>
		</div>	
		<% } else{ %>
			<p class="tips">还没有评论，赶快去评论吧！</p>
		<% } %>
		<div style="margin-top: 30px" class="pagination" id="page"></div>	
	</div>
	<script src="/pagination.js"></script>
	<script>
		var userName = "<%- session.user %>"
		function(val){
			// 当前页
			var _comment = ''
			$.ajax({
				url: "<%= id %>/commentPage",
				type: 'moment',
				data:{
					page: val
				},
				cache: false,
				success: function (msg) {
					//console.log(msg)
					_comment = ''
					if (msg != 'error') {
						$('.comment_list').html(' ')
						$.each(msg,function(i,val){
							//console.log(val.content)
							_comment += '<div class=\"cmt_lists\"><div class=\"cmt_content\"><div class=\"userMsg\"><img src = \"../images/'+ val.avator +'\" alt=\"avator\"><span>'+ val.moment_name +'</span></div ><div class="cmt_detail">'+ val.moment_content + '</div><span class=\"cmt_time\">'+ val.comment_content +'</span><span class=\"cmt_name\">' + val.comment_name + '</div><span class=\"cmt_time\">' + val.id + '</div><span class=\"cmt_time\">';
								if (val.name == userName) {
									_comment += '<a class=\"delete_comment\" href=\"javascript:delete_comment('+ val.id +');\"> 删除</a>'
								}
							_comment += '</span></div></div>'
						})
						$('.comment_list').append(_comment)
					}else{
						alert('分页不存在')
					} 
				}
			})
		
		}
		
		
	</script>
<% include footer %>
