<%- include("header",{type:'all'}) %>

	<div class="container">
		<ul class="res_moment">
			<% res_moment.forEach(function(res_moment){ %>
				<li>
					<div class="author">
						<span title="<%= res_moment.name %>"><a href="/moments?author=<%= res_moment.name %> ">作者：<%= res_moment.name %></a></span>
					</div>
					<a href="/moments/<%= res_moment.id %>">
						<div class="content markdown">
							<%- res_moment.content %>
						</div>
					</a>
                    <div class="edit">
					    <% if(session && decodeURIComponent(session.user) ===  res_moment.name){ %>
					    <p><a class="delete_post" href="javascript:delete_post(<%= res_moment['id'] %>);">删除</a></p>
                        <p><a href="<%= res_moment['id'] %>/edit">赞</a> <a class="delete_post" href="javascript:delete_post(<%= res_moment['id'] %>);">觉得欢乐</a></p>
					   <% } %>
				    </div>
				</li>
			<% }) %>
		</ul>	
	</div>

	<div class="container">
		<ul class="posts">
			<% posts.forEach(function(res){ %>
				<li>
					<div class="cauthor">
						<span title="<%= res.cname %>"><a href="/moments?author=<%= res.cname %> ">评论者：<%= res.cname %></a></span>
					</div>
					<a href="/moments/<%= res.id %>">
						<div class="content markdown">
							<%- res.ccontent %>
						</div>
					</a>
                    <span class="cmt_name">
							<% if(session && decodeURIComponent(session.user) ===  res.cname){ %>
								<a class="delete_comment" href="javascript:delete_comment(<%= res['cid'] %>);"> 删除</a>
							<% } %>
				    </span>
				</li>
			<% }) %>
		</ul>
	</div>


	<div class="comment_wrap">
		<% if(session.user){ %>
		<form class="form" method="post" action="/<%= posts.id %>">
			<textarea id="spContent" name="content" cols="82"></textarea>
			<div class="submit">发表留言</div>
		</form>
		<% } else{ %>
			<p class="tips">登录之后才可以评论哟</p>
		<% } %>
		<% if (posts.length > 0) { %>
		<% } else{ %>
			<p class="tips">还没有评论，赶快去评论吧！</p>
		<% } %>
		<div style="margin-top: 30px" class="pagination" id="page"></div>	
	</div>


	<script>
		$.ajax({
            url: "<%= posts.id %>",
            type: 'POST',
            data:{
                page: 0
            },
            cache: false,
            success: function (msg) {
                console.log("msg!, "+msg)
                if (msg != 'error') {
                    $('.moments').html(' ')
                    $.each(msg,function(i,val){
                        //console.log(val.content)
                        $('.moments').append(
                            '<li>'+
                            '<div class=\"author\">'+
                            '<span title=\"'+ val.mname +'\"><a href=\"/moments?author='+ val.mname +' \">author: '+ val.mname +'</a></span>'+
                            //'<span>评论数：'+ val.comments +'</span>'+
                            //'<span>浏览量：'+ val.pv +'</span>'+
                            '</div>'+
                            '<div class=\"comment_pv\">'+
                            '<span>'+ val.mcontent +'</span>'+
                            '</div>'+
                            '<a href=\"/moments/'+ val.id +'\">'+
                            '<div class=\"title\">'+
                            val.cname +
                            '</div>'+
                            '<div class=\"title\">'+
                            val.ccontent +
                            '</div>'+
                            '<div class=\"content\">'+
                            val.mcontent +
                            '</div>'+
                            '</a>'+
                            '</li>'
                        )
                    })
                }else{
                    alert('分页不存在')
                } 
            }
        })

        
        // 添加评论
        var isAllow = true
		$('.submit').click(function(){
			if (!isAllow) return
			isAllow = false
			if ($('textarea').val().trim() == '') {
				fade('请输入评论！')
			}else{
				$.ajax({
					url: '/' + location.pathname.split('/')[2],
					data:$('.form').serialize(),
					type: "POST",
					cache: false,
					dataType: 'json',
					success: function (msg) {
						if (msg) {
							fade('发表留言成功')							
							setTimeout(()=>{
								isAllow = true
								window.location.reload()
							},1500)  	
						}
					},
					error: function () {
						alert('添加评论异常');
					}
				})
			}
		})
        
        // 删除文章
		function delete_post(id) {
			$.ajax({
				url: "/moments/" + id + "/remove",
				type: 'POST',
				cache: false,
                data: {
                    postId: id
                },
				success: function (msg) {
					if (msg.data == 1) {
						fade('删除文章成功')
						setTimeout(() => {
							window.location.href = "/moments"
						}, 1000)
					} else if (msg.data == 2) {
						fade('删除文章失败');
						setTimeout(() => {
							window.location.reload()
						}, 1500)
					}
				},
				error: function () {
					alert('删除文章异常')
				}
			})
		}
        
        // 删除评论
		function delete_comment(id) {
			$.ajax({
				url: "/comment/" + id + "/remove",
				type: 'POST',
				cache: false,
				success: function (msg) {
					if (msg.data == 1) {
						fade('删除留言成功')
						setTimeout(() => {
							window.location.reload()
						}, 1000)
					} else if (msg.data == 2) {
						fade('删除留言失败');
						setTimeout(() => {
							window.location.reload()
						}, 1500)
					}
				},
				error: function () {
					alert('删除评论异常')
				}
			})
		}
	</script>
<% include footer %>