<%- include("header",{type:'all'}) %>

	<div class="container">
		<ul class="res_moment">
			<% res_moment.forEach(function(res_moment){ %>
				<li>
					<div class="author">
						<span title="<%= res_moment.name %>"><a href="/posts?author=<%= res_moment.name %> ">作者：<%= res_moment.name %></a></span>
					</div>
					<a href="/posts/<%= res_moment.id %>">
						<div class="content markdown">
							<%- res_moment.content %>
						</div>
					</a>
                    <div class="edit">
					   <% if(session && session.user ===  res_moment.name  ){ %>
					   <p><a href="<%= res_moment['id'] %>/edit">编辑</a></p>
					   <p><a class="delete_post">删除</a></p>
					   <% } %>
				</div>
				</li>
			<% }) %>
		</ul>	
	</div>

	<div class="container">
		<ul class="posts">
			<% posts.forEach(function(res){ %>
				<li>
					<div class="cauthor">
						<span title="<%= res.cname %>"><a href="/posts?author=<%= res.cname %> ">评论者：<%= res.cname %></a></span>
					</div>
					<a href="/posts/<%= res.id %>">
						<div class="content markdown">
							<%- res.ccontent %>
						</div>
					</a>
				</li>
			<% }) %>
		</ul>
	</div>

	<div class="comment_wrap">
		<% if(session.user){ %>
		<form class="form" method="post" action="/<%= posts.id %>">
			<textarea id="spContent" name="content" cols="82"></textarea>
			<div class="submit">发表留言</div>
		</form>
		<% } else{ %>
			<p class="tips">登录之后才可以评论哟</p>
		<% } %>
		<% if (1 < 0) { %>
		<div class="comment_list markdown">
			<% pageOne.forEach(function(res){ %>
				<div class="cmt_lists">
					<div class="cmt_content">
						<div class="userMsg">
							<img src="../images/<%= res['avator'] %>.png" alt=""><span><%= res['name'] %></span>
						</div>
						<div class="cmt_detail">
							<%- res['content'] %>
						</div>
						<span class="cmt_time"><%= res['moment'] %></span>
						<span class="cmt_name">
							<% if(session && session.user ===  res['name']){ %>
								<a class="delete_comment" href="javascript:delete_comment(<%= res['id'] %>);"> 删除</a>
							<% } %>
						</span>
					</div>
				</div>
			<% }) %>
		</div>	
		<% } else{ %>
			<p class="tips">还没有评论，赶快去评论吧！</p>
		<% } %>
		<div style="margin-top: 30px" class="pagination" id="page"></div>	
	</div>


	<script>
		$.ajax({
            url: "<%= posts.id %>/commentPage",
            type: 'POST',
            data:{
                page: 0
            },
            cache: false,
            success: function (msg) {
                console.log("msg!, "+msg)
                if (msg != 'error') {
                    $('.posts').html(' ')
                    $.each(msg,function(i,val){
                        //console.log(val.content)
                        $('.posts').append(
                            '<li>'+
                            '<div class=\"author\">'+
                            '<span title=\"'+ val.mname +'\"><a href=\"/moments?author='+ val.mname +' \">author: '+ val.mname +'</a></span>'+
                            //'<span>评论数：'+ val.comments +'</span>'+
                            //'<span>浏览量：'+ val.pv +'</span>'+
                            '</div>'+
                            '<div class=\"comment_pv\">'+
                            '<span>'+ val.mcontent +'</span>'+
                            '</div>'+
                            '<a href=\"/moments/'+ val.id +'\">'+
                            '<div class=\"title\">'+
                            val.cname +
                            '</div>'+
                            '<div class=\"title\">'+
                            val.ccontent +
                            '</div>'+
                            '<div class=\"content\">'+
                            val.mcontent +
                            '</div>'+
                            '</a>'+
                            '</li>'
                        )
                    })
                }else{
                    alert('分页不存在')
                } 
            }
        })
        
        // 删除文章
		$('.delete_post').click(() => {
			$.ajax({
				url: "<%= posts.id %>/remove",
				type: 'POST',
				cache: false,
				success: function (msg) {
					if (msg.data == 1) {
						fade('删除文章成功')
						setTimeout(() => {
							window.location.href = "/posts"
						}, 1000)
					} else if (msg.data == 2) {
						fade('删除文章失败');
						setTimeout(() => {
							window.location.reload()
						}, 1000)
					}
				}
			})
		})
        
        // 添加评论
        var isAllow = true
		$('.submit').click(function(){
			if (!isAllow) return
			isAllow = false
			if ($('textarea').val().trim() == '') {
				fade('请输入评论！')
			}else{
				$.ajax({
					url: '/' + location.pathname.split('/')[2],
					data:$('.form').serialize(),
					type: "POST",
					cache: false,
					dataType: 'json',
					success: function (msg) {
						if (msg) {
							fade('发表留言成功')							
							setTimeout(()=>{
								isAllow = true
								window.location.reload()
							},1500)  	
						}
					},
					error: function () {
						alert('异常');
					}
				})
			}
		})
        
        // 删除评论
		function delete_comment(id) {
			$.ajax({
				url: "<%= posts.id %>/comment/" + id + "/remove",
				type: 'POST',
				cache: false,
				success: function (msg) {
					if (msg.data == 1) {
						fade('删除留言成功')
						setTimeout(() => {
							window.location.reload()
						}, 1000)
					} else if (msg.data == 2) {
						fade('删除留言失败');
						setTimeout(() => {
							window.location.reload()
						}, 1500)
					}
				},
				error: function () {
					alert('异常')
				}
			})
		}
	</script>
<% include footer %>